/* ====================================================================================================== */
/* Global  */
/* ====================================================================================================== */
html{
  overflow-x:hidden;
}
body {
  font-family: 'Exo',sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #3e3e3e;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px auto;
  text-align: center;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}



p {
  font-size: 1rem;
  color: #888888;
  line-height: 1.8;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid black;
  border-radius: 0;
  padding: .5rem 2rem;
  font-weight: 600;
}

.btn:hover, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #000;
  color: white;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

hr{
  display: block;
  width: 80px;
  height: 4px;
  background: #3e3e3e;
  margin: auto;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  h3{
    font-size: 1.8rem;
    margin: 10px auto;
  }
}

@media (min-width:768px) and (max-width:960px) {
  h1 {
    font-size: 5rem;
  }

  h3{
    margin: 20px auto;
  }
}